

// ! >>>>
#goldComp {
  padding: 55px 0;
  background: #1a1a1afd;
  color:#ffff;
    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    div{
      canvas{
        width: 570px;
      
      }
    }
    }
  }

  