#layoutSite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  header {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    background: #fff;
    width: 100%;

    .content {
      padding: 10px 0;

      display: flex;
      align-items: center;
      justify-content: space-between;
      .content.active {
        padding: 5px 0;

      }
      img {
        width: 300px;
      }
      nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        a {
          color: #586667;
          font-size: 1.2rem;
          line-height: 1.5;
          &:hover {
            color: #ca8f05;
          }
        }
      }
    }
  }
  footer {
    background: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    .content {
      padding: 35px;
      width: 1220px;
      display: flex;
      justify-content: space-between;
      line-height: 1.5;

      p {
        color: #586667;
        font-size: 1rem;
        &:hover {
          color: #ca8f05;
        }
      }
    }
  }
}
