#layoutSite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  header {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: center;
    background: #1a1a1a;
    width: 100%;

    .content {
      padding: 10px 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .content.active {
        padding: 5px 0;
      }

      img {
        width: 300px;
      }

      nav {
        width: 60%;
        display: flex;
        justify-content: space-between;

        .route_wrapper {
          align-items: center;
          
          a {
            color: #ffbc12;
            font-size: 1.2rem;
            line-height: 1.5;
            text-decoration: none;
            &:hover {
              color: #ffdf95;
            }
          }
        }
        .modali {
          padding: 20px;
          position: absolute;
          display: flex;
          background: #1a1a1a;
          border-radius: 0 0 8px 8px;
          color: #ffbc12;
          cursor: pointer;
          
         
          p{
            padding: 10px;
            line-height: 20px;
            transition: transform 0.3s ease;
      
            &:hover {
              transform: translateY(-2px);
              background: #586667;
              border-radius: 4px;
            }
          
          }
        }
      }
    }
  }

  footer {
    background: #e1e1e1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    .content {
      padding: 35px;
      width: 1220px;
      display: flex;
      justify-content: space-between;
      line-height: 1.5;

      p {
        color: #586667;
        font-size: 1rem;
        &:hover {
          color: #ca8f05;
        }
      }
    }
  }
}
