#maps {
    padding: 60px 0 0 0;
    h1 {
      font-size: 1.7rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .content {
      iframe {
        border-radius: 8px;
        border: none;
        width: 100%;
      }
    }
  }
  